<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <listener>
        <listener-class>by.bsuir.wtlab2.application.ApplicationContext</listener-class>
    </listener>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.bsuir.wtlab2.controller.Controller</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/command/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>by.bsuir.wtlab2.filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <servlet-name>Controller</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>CommandFilter</filter-name>
        <filter-class>by.bsuir.wtlab2.filter.CommandFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommandFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>by.bsuir.wtlab2.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>
</web-app>